body{
    margin:0;
    text-align: center;
}

h1{
    margin:0;
}

.top-container{position: relative;
    padding-top :100px;
    background-color: #E4F9F5;
    font-family:cursive;
}

h1{
    margin:0;
}

.img2{
    position: absolute;
    right:400px;
    top:30px;
}
.img1{
    position: absolute;
    left:400px;
    top:250px;
}
.middle-container{
    margin-top: 90px;
}

a{
    text-decoration: none;
}
#profile{
    top:200px;
    width: 15%;
    height:15%;
    border-radius: 30%;
}
p{
    font-family: cursive;
}
#last{
    margin:60px 60px;
}
.bottom-container{
    background-color: rgb(79, 190, 79);
    margin:29px;
}
#icons{
    height:23px;
    width:23px;
}
.footer-link{
    margin:4px;
}
hr{
    border-style: none;
    border-top-style:dotted;
    border-color:#EAF6F6;
    border-width: 3px;
    width: 10%;
    margin-top: 50px;
    margin-bottom: 49px;
}
h3,h2,h1{color: #66BFBF;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    font-size: 40px;
    font-family: cursive;
}
#init{
    font-size: 1.69em;
    font-weight: normal;
    color:#40514B;
}
.profile,.skill{
    margin:100px 100px;
}
.skill-row{
    margin:35px 35px;
}
.header{
    background-color:#E4F9F5;
    padding-left: 70%;
    padding-top: 2%;
    font-size: 120%;
    font-family:cursive;
}
span{
    margin:0 0 0 2em;
}
.header1{
    background-color: #E4F9F5;
    padding-right: 70%;
    padding-top: 10%;
}
#head{
    position: fixed;
    width: 6%;
    height: 12%;
}